baud: 115200
port: /dev/ttyUSB0
controllers: {
  arm_controller: {
    type: joint_controller,
    joints: [base, shoulder, elbow, wrist, wrist_twist, gripper],
    publish_joint_states: true,
    publish_rate: 10
  }
}

joints: {
  base: {channel: 0, max_angle: 1.57, min_angle: -1.57, offset_angle: 0, initialize: true, invert: false},
  shoulder: {channel: 1, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, initialize: true, invert: false},
  elbow: {channel: 2, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, initialize: true, invert: false},
  wrist: {channel: 3, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, initialize: true, invert: false},
  wrist_twist: {channel: 4, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, initialize: true, invert: false},
  gripper: {channel: 5, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, initialize: true, invert: false}
}
